<div class="author">
    <h1 class="author__heading">Hi, I am Evanilson.</h1>
    <p class="author__body">Web developer.</p>
</div>

<img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">

    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <!--Gonna display the database content in the website-->

        <!--Grabbing content from database-->
        <% data.forEach(post => { %> <!--data is named after 'data' over the routes file-->
         
        <li>
            <a href="/post/<%= post._id %>"> <!--Grabbing ID from each post-->
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>

        <% }) %>
    </ul>

    <a href="#" class="pagination">View older Posts</a>

</section>
  